############################
# Directories              #
############################
build
venv
.idea
__pycache__
.DS_Store
dist
_build
*.egg-info

############################
# Files                    #
############################
*.pyc
