#!/bin/bash

#SBATCH --job-name={{sdata.unique_id}}

#SBATCH -N {{sdata.N}} # No. of nodes
#SBATCH -n {{sdata.n}} # No. of tasks 
#SBATCH -c {{sdata.c}} # No. of cores per task

#SBATCH --time={{sdata.time}}
#SBATCH --chdir={{sdata.working_directory}}

module load m4db-database/1.0.0
module load m4db-serverside/1.0.0

srun -N 1
